.articles-section-container {
    padding: 24px 0;
    @apply flex-1 w-full;
}

.articles-header {
    @apply flex flex-col items-start;
}

.articles-content-container {
    margin-top: 40px;
}

.articles-title {
    @apply font-bold text-header2;
}

.articles-search-list {
    width: 100%;
}

.articles-pagination-container {
    margin: 24px 0;
    @apply flex flex-row items-center justify-center w-full;
}

@media screen(tablet) {
    .articles-header {
        @apply flex-row justify-between;
    }

    .container {
        max-width: fit-content !important;

        @apply w-full;
    }
}

@media screen(lgTablet) {
    .articles-header {
        @apply flex-row justify-between;
    }

    .articles-pagination-container {
        @apply justify-end;
    }
}
