.articles-section-container {
    padding: 24px 0;
    @apply flex-1 w-full;
}

.articles-header {
    @apply flex flex-col items-start;
}

.articles-content-container {
    margin-top: 40px;
}

.articles-title {
    @apply font-bold text-header2;
}

@media screen(tablet) {
    .articles-header {
        @apply flex-row justify-between;
    }

    .container {
        max-width: fit-content !important;

        @apply w-full;
    }
}

@media screen(lgTablet) {
    .articles-header {
        @apply flex-row justify-between;
    }
}
