@import "../styles/tailwind.css";
/* Component */
@import "../components/Navbar/navbar.module.css";
@import "../components/Footer/footer.module.css";
@import "../components/Layout/layout.module.css";
@import "../components/Banner/banner.module.css";
@import "../components/Button/button.module.css";
@import "../components/Input/input.module.css";

/* Page */
@import "./login.module.css";
@import "./articles.module.css";

@import "../components/Artikel/articles.module.css";
@import "../components/Search/search.module.css";


@layer base {
    html {
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;

        @apply text-small text-black;
    }

    @media screen(tablet) {
        html {
            @apply text-body;
        }
    }
}

* {
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
    border: none;
    outline:none;
}

section {
    padding-bottom: 40px;
}