.home-testimonies-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: 350px;

    justify-content: center;

    background-color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
    padding: 16px;

    border-radius: 16px;
}

.home-testimonies-card .card-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.card-content-container #quotes {
    font-weight: 800;
    font-size: 46px;
    line-height: 58px;

    margin: 0;

    @apply text-primary;
}

.card-content-container #quotes-text {
    margin-bottom: 8;
    @apply font-semibold text-body;
}

.card-content-container hr {
    border: 2px solid #f37a51;
    width: 40%;
    border-radius: 10px;

    margin: 16px 0;
}

.card-profile-container {
    display: flex;
    flex-direction: column;
    margin: 8px 0;

    align-items: center;
    justify-content: center;
}

.card-profile-container .card-profile-image-container {
    border-radius: 50px;
}

.card-profile-container #username {
    @apply font-bold text-body1 mt-4;
}

/* Card Small Article */
.card-small-article-container {
    @apply flex flex-col gap-y-1;
}

.card-small-article-img {
    width: auto;
    height: 150px;

    position: relative;
}

.card-small-article-img img {
    border-radius: 8px;
}

/* Card Filter */
.card-filter-container {
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;

    max-width: 280px;

    border: 1px solid;

    @apply bg-white border-grey;
}

.card-filter-container h3 {
    @apply text-header5 font-bold;
}

.card-filter-list {
    margin: 24px 0;
}
