/* Question Item */
.question-content {
    border: 1px solid #c7c7c7;
    border-radius: 12px;

    transition: all 0.2s ease-out;

    @apply p-4 flex justify-between items-center;
}

.question-content.active {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(243, 122, 81, 0.05);
}

.question-content a {
    @apply font-bold text-body;
}

.question-arrow {
    height: 24px;
    width: 24px;
    transition: transform 0.8s ease-in-out;
}

.question-arrow.active {
    transform: rotate(360deg);
}

.question-answer {
    overflow: hidden;
    max-height: 0px;

    transition: all 0.2s ease-out;
}

.question-answer.active {
    overflow: auto;
    max-height: fit-content;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    background-color: rgba(243, 122, 81, 0.05);
    @apply px-4 pb-4 text-body font-normal;
}

@media screen(desktop) {
    .question-content {
        @apply p-4;
    }
}

/* Filter Item */
.filter-item-container {
    @apply flex flex-row items-center;
}

.filter-item-container a {
    font-size: 18px;
    @apply font-semibold;
}

.filter-item-container a.active {
    @apply text-primary;
}

.round-selector {
    border-radius: 50px;
    width: 24px;
    height: 24px;

    border: 1px solid #c7c7c7;

    @apply bg-transparent;
}

.round-active {
    @apply bg-primary;
}

.bordered {
    margin-bottom: 16px;
    border-bottom: 1px solid #c7c7c7;
}

.borderless {
    border-bottom: none;
}
