@tailwind components;

/* Highlight Component */

.highlight-first {
    padding-bottom: 16px;
    border-bottom: 1px solid #C7C7C7;
}

.highlight-second {
    padding-bottom: 16px;
}

.second-content {
    padding-top: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid #C7C7C7;

    @apply flex flex-row gap-x-16px;
}

.highlight-image-big {
    padding-bottom: 12px;
    width: 100%;

    @apply rounded-lg;
}

.highlight-image-small {
    width: 86px;
    height: 49px;

    @apply rounded-lg;
}

@media screen(phone) {
    .highlight-image-small {
        width: 192px;
        height: 96px;
        object-fit:containt;
    
        @apply rounded-lg;
    }
    
}

@media screen(lgTablet) {
    .highlight-container {
        @apply flex flex-row gap-x-30px;
    }

    .highlight-first {
        padding-bottom: 0px;
        border-bottom: none;

        @apply flex-1;
    }

    .highlight-second {
        padding-bottom: 0px;

        @apply flex flex-col gap-y-16px;
    }

    .second-content {
        width: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    
        @apply flex flex-col;
    }

    .highlight-image-small {
        width: 100%;
        height: 100%;
    
        @apply rounded-lg;
    }
}

/* New Article Component */

.newarticle-container {

    @apply grid grid-cols-2 gap-x-4 gap-y-4;
}

.newarticle-content {

    @apply flex flex-col gap-y-1;
}

.newarticle-image {
    width: 100%;
    height: 100%;
}


@media screen(lgTablet) {
    .newarticle-container {
        @apply pt-30px grid-cols-4 gap-x-30px;
    }
}

/* Popular Article Component */

.popular-container {
    @apply grid grid-cols-1 gap-x-30px pt-30px gap-y-10 mb-100px;
}

.popular-content {
    padding-top: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid #C7C7C7;

    @apply flex flex-row gap-x-16px;
}

@media screen(lgTablet) {
    .popular-container {
        @apply grid-cols-2;
    }

    .popular-content {
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    
        @apply flex-1 flex-col gap-y-1;
    }
}