@tailwind components;

.article-section-title {
    @apply font-bold text-header4;
}

.bordered {
    margin-bottom: 16px;
    padding-bottom: 16px;

    border-bottom: 1px solid #c7c7c7;
}

/* Highlight Component */
.highlight-second {
    margin-bottom: 16px;
}

.second-content {
    @apply flex flex-row gap-x-16px !important;
}

.highlight-image-big {
    padding-bottom: 12px;
    width: 100% !important;

    height: 55vw !important;

    @apply rounded-lg;
}

.highlight-first-text h3 {
    @apply text-header5;
}

.highlight-first-text p {
    font-size: 12px;
    @apply font-semibold;
}

.article-small-container h3 {
    @apply text-body;
}

.article-small-container p {
    font-size: 12px;
    @apply font-semibold;
}

.highlight-image-small {
    width: 86px !important;
    height: 49px !important;

    /* @apply rounded-lg; */
}

.articles-section-margin {
    margin-top: 5vh;
}
@media screen(lgTablet) {
    .bordered {
        margin-bottom: 0;
        padding-bottom: 0;

        border-bottom: none;
    }

    .highlight-container {
        @apply flex flex-row gap-x-30px;
    }

    .highlight-first {
        padding-bottom: 0px;
        border-bottom: none;

        @apply flex-1;
    }

    .highlight-second {
        width: 100%;
        padding-bottom: 0px;

        @apply flex flex-col gap-y-16px;
    }

    .second-content {
        width: 100%;
        max-height: 200px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;

        @apply flex flex-col !important;
    }

    .highlight-image-big {
        width: 60vw !important;
        height: 40vw !important;
    }

    .highlight-image-small {
        width: 100% !important;
        height: 280px !important;
        max-height: 50vh !important;
    }

    .highlight-first-text h3 {
        @apply text-header3;
    }

    .highlight-first-text p {
        @apply text-body;
    }

    .article-small-container p {
        @apply text-body;
    }
}

/* New Article Component */

.newarticle-container {
    margin-top: 24px;
    @apply grid grid-cols-2 gap-x-4 gap-y-4;
}

.newarticle-content {
    @apply flex flex-col gap-y-1;
}

.newarticle-image {
    width: 100%;
    height: 100%;
}

@media screen(lgTablet) {
    .newarticle-container {
        @apply pt-30px grid-cols-4;
    }
}

/* Popular Article Component */

.popular-container {
    @apply grid grid-cols-1 gap-x-30px pt-30px;
}

.popular-content {
    @apply flex flex-row gap-x-16px !important;
}

@media screen(lgTablet) {
    .popular-container {
        @apply grid-cols-2;
    }

    .popular-content {
        padding-bottom: 0px;

        @apply flex-1 flex-col gap-y-1 !important;
    }
}

@media screen(fullDesktop) {
    .highlight-image-big {
        height: 35vw !important;
    }
}
