.carousel-container {
    width: 100%;
    margin: 24px 0;
}

.carousel-inner-slider {
    margin: 32px 0;
}

.carousel-dots {
    position: relative !important;
}

.slider-dot {
    width: 16px;
    height: 16px;
    background: #c7c7c7;
    border-radius: 50%;

    transition: background 0.2s ease;
}

.slider-dot-active {
    background: #f37a51;
}

/* Arrow */
.arrow-btn {
    position: absolute;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 60px;

    width: 60px;
    height: 60px;

    z-index: 5;

    top: 40%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.arrow-prev {
    left: -25px;
}

.arrow-prev img {
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}

.arrow-next {
    right: -25px;
}
