@tailwind components;

.test-name {
    font-weight: 700;
    font-size: 500px;
}

.search-container {
    border: 1px solid #C7C7C7;
    border-radius: 12px;


    @apply flex text-body justify-between font-bold;
}

.search-input {
    padding: 0px 17px;
    font-size: 16px;

    @apply bg-transparent;
}