.about-banner-padding {
    @apply -mx-4;
}

.service-banner-padding {
    @apply -mx-4 px-4;
}

.service-banner-container {
    display: flex;
    padding: 32px 16px;
    height: 30vw;
    min-height: 150px;
    max-height: 186px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    @apply bg-primary;
}

.service-banner-title {
    @apply text-header4 font-bold text-white;
}

@media screen(tablet) {
    .about-banner-padding {
        @apply -mx-12;
    }

    .service-banner-padding {
        @apply -mx-12 px-12;
    }

    .service-banner-container {
        align-items: center;
    }

    .service-banner-title {
        @apply text-header3;
    }
}

@media screen(lgTablet) {
    .about-banner-padding {
        @apply -mx-20;
    }

    .service-banner-padding {
        @apply -mx-20 px-20;
    }

    .service-banner-title {
        @apply text-header2;
    }
}

@media screen(desktop) {
    .about-banner-padding {
        @apply -mx-36;
    }

    .service-banner-padding {
        @apply -mx-36 px-36;
    }
}

@media screen(fullDesktop) {
    .about-banner-padding {
        @apply -mx-44;
    }

    .service-banner-padding {
        @apply -mx-44 px-44;
    }
}
